

#slide-show{
    width: 100%;
    height: clamp(255px, calc(255px + calc((415 - 255) / (1440 - 375)) * (100vw - 375px)), 415px);
    position: relative;
    .slide-chevron-container{
        z-index: 1;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 100%;
        height: 100%;
        top:0;
    }
    .slide-image{
        border-radius: clamp(10px, calc(10px + calc((25 - 10) / (1440 - 375)) * (100vw - 375px)), 25px);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #slide-current {
        display: block;
    }
    .slide-pagination-container{
        z-index: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom: clamp(10px, calc(10px + calc((25 - 10) / (1440 - 375)) * (100vw - 375px)), 25px);
        p {
            color: white;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.6%;
        }
    }
}

swiper-container::part(button-prev), 
swiper-container::part(button-next) {
    color: white;
}

swiper-container::part(pagination){
    color: white;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}